doctype HTML
html
    head
        title 끝투
        meta(charset='utf-8')
        meta(name="viewpoint" content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet' href='/css/home.css')
        style.
            a:link{
                color: black; text-decoration: none;
            }
            a:visited{
                color: black; text-decoration: none;
            }
            a:hover{
                color: black; text-decoration: none;
            }
    body
        .mobile
            img(src='../img/title.png' class='home-title')

            a(href='/home/setting' class='home-tab-set'): p.home-tab-set-font My 투자설정
            a(href='/home' class='home-tab-home'): p.home-tab-home-font 계좌조회
            a(href='/home/top10' class='home-tab-top10'): p.home-tab-top10-font 추천 Top10

            p.home-username #{userName}님
            p.home-username2 건전한 투자를 항상 응원하겠습니다
            
            div.home-rec1
                p.home-title2 마이데이터 계좌통합 서비스
                <br><br><br>
                - balance = 0
                for account in accounts
                    if(account.bankName=='project')
                        - balance = account.balance + balance
                    else
                        .home-account-box
                            p.home-account-name #{account.bankName}
                            p.home-account-balance #{account.balance} 원
                input(type='button', value='계좌 추가' class='home-add-account')
            .home-rec2
                p.home-project-title 끝전 잔액
                p.home-project-balance=balance

                